<div class="container">
  <div id="title" class="center">
    <h1 id="header" class="text-center mt-5">Buscador de libros</h1>
    <div class="row">
      <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
        <input
          id="search-box"
          type="text"
          class="form-control"
          placeholder="Search Books!..."
        />
        <button id="search" class="btn btn-primary" (click)="onSearchClick()">
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="book-list">
    <h2 class="text-center">Resultados de Busqueda</h2>
    <div class="">
      <div class="container-fluid">
        <div #listOutput class="row">
          <!-- card  -->
        </div>
      </div>
    </div>
  </div>
</div>
